Normalize email addresses

**Describe the bug**
Some people like to put capital letters in their email addresses even though the canonical version of their email address is all lower case. Currently, users get authentication errors when using capitals. See https://github.com/nerves-hub/nerves_hub_cli/issues/113.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with a capital letter in their email address
2. `mix nerves_hub.user register`
3. See the `authentication_failed` error

The problem is at https://github.com/nerves-hub/nerves_hub_web/blob/ce236cc5c304910825cd1bb16bbb7ceaaad98df7/apps/nerves_hub_web_core/lib/nerves_hub_web_core/accounts.ex#L162

**Expected behavior**
Emails are normalized everywhere they're received from users. Also, authentication works.


To those of you who do this, is email address normalization just downcasing the addresses? Or is there more to it?

Here are some RFCs:

* RFC 3696: https://tools.ietf.org/html/rfc3696
* RFC 5321: https://tools.ietf.org/html/rfc5321
* RFC 5322: https://tools.ietf.org/html/rfc5322
* RFC 6530: https://tools.ietf.org/html/rfc6530

The more I look into this, the more I think that we use whatever address the user gives us, validate it by sending a "confirm your email address" email, and then use it unmodified. RFC 3696 shows some addresses that I'd never guess were valid.



Punting on trying to do any email address normalization.